.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(to bottom right,#0059ff,#00c3ff,#00ccff,#00ccff,#00a2ff,#0084ff);
    padding: 20px;
    text-align: center;
    border:10px solid #0400ff;
    border-radius: 15px;
    width: 70%;
    margin: auto;
}
body{
    background:linear-gradient(to right,#0059ff,#00c3ff,#00ccff,#00ccff,#00a2ff,#0084ff);
}
.header__nav{
    letter-spacing: 2px;
    margin-top: 10px;
}
.header__link{
    color: rgb(25, 0, 255);
    text-decoration: none;
    border:#000000;
    background-color: #8400ff21;
    border: #8400ff21 solid 5px;
    border-radius: 3px;
}
.header__link:hover{
    color: rgb(255, 0, 179);
}
.header__title{
    color: rgb(17, 0, 255);
    font-size: 40px;
    margin: 0;
    letter-spacing: 30px;
    background-color:#8400ff2f ;
    border: #8400ff2f solid 5px;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin: auto;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60%;
}
.link{
   color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(0, 247, 255);
    border: #000000 solid 1px;
    border-radius: 10px;
    padding: 10px;
}
.link:hover{
    background-color: rgb(0, 89, 255);
    color: rgb(255, 255, 255);
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: #8400ff54 solid 5px;
    width: 50%;
    border-radius:50px;
    background-color: #8400ff2f;
    margin: auto;
    margin-top: 30px;
}
.section-text{
    color:#000000 ;
    letter-spacing:-1px;
    font-size:25px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}
.section-img{
width:50%;
border-radius:20px;
margin-bottom: 30px;
box-shadow:#000000 5px 5px 15px;
}
#map{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #8400ff2f;
border: #8400ff54 solid 5px;
border-radius:30px ;
width: 100%;
margin: auto;
gap:9px;
color: #1100ff;
}
.five-oceans{
    font-size: 70px;
    text-align: center;
    width: 100%;
    background-color: #2600ff2d ;
    width: auto;
    border: #2600ff2d solid 5px;
    border-radius: 50px;
}
.oceans{
width: 200px;
height: 200px;
margin-left: 10px;
border: #6200ff solid 5px;
border-radius: 20px;
box-shadow: #000000 5px 5px 15px;

}
.header__subtitle{
    color: rgb(0, 0, 0);
    margin: 0;
    font-size:20px;
    letter-spacing: 10px;
    text-align: center;
    background-color:#8400ff2f ;
    border: #8400ff2f solid 5px;
    border-radius: 50px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
#pacific-ocean{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: #8400ff54 solid 5px;
    width: 50%;
    border-radius:50px;
    background-color: #8400ff2f;
    margin: auto;
    margin-top: 30px;
}
.section-headline-1{
    color:#000000 ;
    font-size:35px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    width: 80%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ocean1{
    color:#000000 ;
    letter-spacing:-1px;
    font-size:30px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}
.section-img-1{
width:50%;
border-radius:20px;
margin-bottom: 30px;
box-shadow:#000000 5px 5px 15px;
}
.section-img-1:hover{
    width:70%;
    box-shadow:none;
}
#Atlantic-ocean{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: #8400ff54 solid 5px;
    width: 50%;
    border-radius:50px;
    background-color: #8400ff2f;
    margin: auto;
    margin-top: 30px;
}
.section-headline-2{
    color:#000000 ;
    font-size:35px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    width: 80%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ocean2{
    color:#000000 ;
    letter-spacing:-1px;
    font-size:30px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}
.section-img-2{
width:50%;
border-radius:20px;
margin-bottom: 30px;
box-shadow: #000000 5px 5px 15px;
}
.section-img-2:hover{
    width:70%;
    box-shadow:none;
}
#Indian-ocean{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: #8400ff54 solid 5px;
    width: 50%;
    border-radius:50px;
    background-color: #8400ff2f;
    margin: auto;
    margin-top: 30px;
}
.section-headline-3{
    color:#000000 ;
    font-size:35px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    width: 80%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ocean3{
    color:#000000 ;
    letter-spacing:-1px;
    font-size:30px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}
.section-img-3{
width:50%;
border-radius:20px;
margin-bottom: 30px;
box-shadow: #000000 5px 5px 15px;
}
.section-img-3:hover{
    width:70%;
    box-shadow:none;
}
#Arctic-Ocean{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: #8400ff54 solid 5px;
    width: 50%;
    border-radius:50px;
    background-color: #8400ff2f;
    margin: auto;
    margin-top: 30px;
}
.section-headline-4{
    color:#000000 ;
    font-size:35px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    width: 80%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ocean4{
    color:#000000 ;
    letter-spacing:-1px;
    font-size:30px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}
.section-img-4{
width:50%;
border-radius:20px;
margin-bottom: 30px;
box-shadow: #000000 5px 5px 15px;
}
.section-img-4:hover{
    width:70%;
    box-shadow:none;
}
#Southern-Ocean{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: #8400ff54 solid 5px;
    width: 50%;
    border-radius:50px;
    background-color: #8400ff2f;
    margin: auto;
    margin-top: 30px;
}
.section-headline-5{
    color:#000000 ;
    font-size:35px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    width: 80%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ocean5{
    color:#000000 ;
    letter-spacing:-1px;
    font-size:30px;
    text-align: center;
    background-color: #8400ff31;
    border: #8400ff54 solid 5px;
    border-radius:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}
.section-img-5{
width:50%;
border-radius:20px;
margin-bottom: 30px;
box-shadow: #000000 5px 5px 15px;
}
.section-img-5:hover{
    width:70%;
    box-shadow:none;
}
#footer{
    display: flex;
    justify-content: left;
    align-items: space-between;
    background-color: #0059ff;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-top: 5px solid #0400ff;
}
.footer-text{
    margin: 0;
    font-size: 14px;
    color: black;
}
.ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}